<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil Usuario</title>
    <style>
        .btn-big {
            width: 100%;
            height: 200px;
            font-size : 35px;
            background-color: #f7f7f7;
            border: 3px solid black;
        }
        .btn-name {
            color: gray;
            background-color: white;
            border-style: hidden;
        }
        .btn-holder {
            margin-bottom: 3%;
        }
    </style>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}

    <div class="col-md-12 btn-holder">
        <div class="col-md-6" style="float: left">
            <button type="button" class="btn-big" onclick="location.href='{% url 'administrator' %}'">Reserva tu Espacio</button>
        </div>
        <div class="col-md-6" style="float: right">
            <button type="button" class="btn-big" onclick="location.href='{% url 'administrator' %}'">Reserva tu Espacio</button>
        </div>
    </div>
    <div style="clear: both; margin-bottom: 3%"></div>

    <div>
        <div style='float: left;'>
            <button type="button" onclick="Hide_prestamo()">Reservas</button>
            <button type="button" onclick="Hide_reserva()">Préstamos</button>
        </div>
        <div style='float: right;'>
            <i class="fa fa-trash"></i>
            <button type="submit" class="btn-name" form="delete-form">Eliminar seleccionados</button>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div class="row" id="reservas">
            <!-- List group -->
            <form id="delete-form" method="post" action="{% url 'delete' %}">
                <div class="list-group">
                    {% csrf_token %}
                    {% for l in list %}
                    <label style="margin-bottom: 225%"><input type="checkbox" name="l_id" value="{{ l.id }}"></label>
                    {% endfor %}
                </div>
            </form>
            <div class="list-group col-5" id="list-tab" role="tablist">
                {% for l in list %}
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#{{ l.id }}" role="tab">
                    {{ l.item.name }}
                    <p class="badge badge-secondary" style="float: right;">{{ l.get_state_display }}</p>
                    <div style="clear: both;"></div>
                </a>

                {% endfor %}
            </div>
            <!-- Tab panes -->

            <div class="tab-content col-5" id="nav-tabContent">
                {% for l in list %}
                <div class="tab-pane" id="{{ l.id }}" role="tabpanel">
                    <h2>{{ l.item.name }}</h2>
                    <h5>{{ l.get_state_display }}</h5>
                    <p>{{ l.item.description }}</p>
                    <P>Fecha de inicio: {{ l.start }}</P>
                    <p>Fecha de término: {{ l.finish }}</p>
                    <a href="{% url 'administrator' %}">Ver más detalles</a>
                </div>
                {% endfor %}
            </div>
    </div>
    <div class="row" id="prestamos">

    </div>

    <script>
        function Hide_prestamo() {
            document.getElementById('prestamos').style.display = 'none';
            document.getElementById('reservas').style.display = '';
        }
        function Hide_reserva() {
            document.getElementById('reservas').style.display = 'none';
            document.getElementById('prestamos').style.display = '';
        }
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>



{% endblock %}
</body>
</html>