

{% block calendar %}

<style>

* {
    float: none;
    background: none;
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    width: 100%;
    margin: 2px auto 20px auto;
    border-collapse: collapse;
    background: #fff;
}


table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal;
    display: table;
    border-spacing: 2px;
    border-color: grey;
}
* {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
}



html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}


:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tbody th {
    text-align: right;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    padding-right: 10px;
}
table th {
    text-align: left;
    background-color: #e9e9e9;
    padding: 5px;
    color: #555;
}
table, th, td {
    border: 1px solid black;
}
td, th {
    padding: 0;
}
th {
    text-align: left;
}
* {
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
table td {
    text-align: left;
    vertical-align: top;
    padding: 5px;
    border-bottom: 1px solid #d5d5d5;
}
table, td {
    height: 100%;
}
table, th, td {
    border: 1px solid black;
}


table {
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    font-variant: normal;
}

table {
    display: table;
    border-spacing: 2px;
    border-color: grey;
}
</style>
<div class="horario">
    <div style="height:346px;overflow:hidden">
    <div class="table-responsive"><table id="obj_7467903"><caption></caption>
    <thead>
    <tr class="odd">
        <th style="width: 60px" class="number"></th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sábado</th>
    </tr>
    </thead>
    <tbody>
    <tr class="even">
        <th id="horas" style="padding: 0; position:relative">
        <div class="hora" style="top:0px; height:21px;">08:00</div>
        <div class="hora" style="top:22px; height:21px;">09:00</div>
        <div class="hora" style="top:44px; height:21px;">10:00</div>
        <div class="hora" style="top:66px; height:21px;">11:00</div>
        <div class="hora" style="top:88px; height:21px;">12:00</div>
        <div class="hora" style="top:110px; height:21px;">13:00</div>
        <div class="hora" style="top:132px; height:21px;">14:00</div>
        <div class="hora" style="top:154px; height:21px;">15:00</div>
        <div class="hora" style="top:176px; height:21px;">16:00</div>
        <div class="hora" style="top:198px; height:21px;">17:00</div>
        <div class="hora" style="top:220px; height:21px;">18:00</div>
        <div class="hora" style="top:242px; height:21px;">19:00</div>
        <div class="hora" style="top:264px; height:21px;">20:00</div>
        <div class="hora" style="top:286px; height:21px;">21:00</div>
        <div id="line" class="reloj" style="top: 301px;"><span>21:38</span></div>   </th>
        <td class="dia " style="">
            <div id="dia_1" style="height: 308px; position:relative">
            <div class="bloque Ctedra c251233 " style="top:181.5px;height:32px;min-height:32px;left:0px;margin-right:0px;background-color:#ffc4a0;z-index:2"><a href="https://www.u-cursos.cl/ingenieria/2018/1/CC7910/1/">CC7910-1</a> Cátedra &nbsp; B103 &nbsp; 25/06/2018 &nbsp;16:15 - 17:45</div>
            <div class="bloque Ctedra_Recuperativa c261717 " style="top:182.5px;height:43px;min-height:43px;left:25px;margin-right:0px;background-color:#fff8a8;z-index:3"><a href="https://www.u-cursos.cl/ingenieria/2018/1/EP3203/1/">EP3203-1</a> Cátedra Recuperativa &nbsp; B02 &nbsp; 25/06/2018 &nbsp;16:15 - 18:15</div>
        </div></td>
        <td class="dia " style="">
            <div id="dia_2" style="height: 308px; position:relative">
            <div class="bloque Ctedra c247259 " style="top:49.5px;height:32px;min-height:32px;left:0px;margin-right:0px;background-color:#84e2f0;z-index:2"><a href="https://www.u-cursos.cl/ingenieria/2018/1/CC4101/1/">CC4101-1</a> Cátedra &nbsp; B211 &nbsp; 26/06/2018 &nbsp;10:15 - 11:45</div>
            <div class="bloque Ctedra c247269 " style="top:181.5px;height:32px;min-height:32px;left:0px;margin-right:0px;background-color:#a8f0b0;z-index:3"><a href="https://www.u-cursos.cl/ingenieria/2018/1/CC4401/1/">CC4401-1</a> Cátedra &nbsp; B211 &nbsp; 26/06/2018 &nbsp;16:15 - 17:45</div>
            <div class="bloque Ctedra c261717 " style="top:220px;height:43px;min-height:43px;left:0px;margin-right:0px;background-color:#fff8a8;z-index:4"><a href="https://www.u-cursos.cl/ingenieria/2018/1/EP3203/1/">EP3203-1</a> Cátedra &nbsp; B001 &nbsp; 26/06/2018 &nbsp;18:00 - 20:00</div>
        </div></td>
        <td class="dia " style="">
            <div id="dia_3" style="height: 308px; position:relative">
            <div class="bloque Ctedra_Recuperativa c261717 " style="top:126.5px;height:43px;min-height:43px;left:0px;margin-right:0px;background-color:#fff8a8;z-index:2"><a href="https://www.u-cursos.cl/ingenieria/2018/1/EP3203/1/">EP3203-1</a> Cátedra Recuperativa &nbsp; B02 &nbsp; 27/06/2018 &nbsp;13:45 - 15:45</div>
            <div class="bloque Ctedra c251233 " style="top:181.5px;height:32px;min-height:32px;left:0px;margin-right:0px;background-color:#ffc4a0;z-index:3"><a href="https://www.u-cursos.cl/ingenieria/2018/1/CC7910/1/">CC7910-1</a> Cátedra &nbsp; Sala Laboratorio de Computación DCC, Piso 3 &nbsp; 27/06/2018 &nbsp;16:15 - 17:45</div>
            <div class="bloque Auxiliar c247269 " style="top:220px;height:32px;min-height:32px;left:0px;margin-right:0px;background-color:#a8f0b0;z-index:4"><a href="https://www.u-cursos.cl/ingenieria/2018/1/CC4401/1/">CC4401-1</a> Auxiliar &nbsp; B211 &nbsp; 27/06/2018 &nbsp;18:00 - 19:30</div>
        <div id="circle" class="circle" style="top: 301px;"></div></div></td>
        <td class="dia " style="">
            <div id="dia_4" style="height: 308px; position:relative">
            <div class="bloque Ctedra c247259 " style="top:49.5px;height:32px;min-height:32px;left:0px;margin-right:0px;background-color:#84e2f0;z-index:2"><a href="https://www.u-cursos.cl/ingenieria/2018/1/CC4101/1/">CC4101-1</a> Cátedra &nbsp; B211 &nbsp; 28/06/2018 &nbsp;10:15 - 11:45</div>
            <div class="bloque Ctedra c247269 " style="top:181.5px;height:32px;min-height:32px;left:0px;margin-right:0px;background-color:#a8f0b0;z-index:3"><a href="https://www.u-cursos.cl/ingenieria/2018/1/CC4401/1/">CC4401-1</a> Cátedra &nbsp; B211 &nbsp; 28/06/2018 &nbsp;16:15 - 17:45</div>
            <div class="bloque Ctedra c261717 " style="top:220px;height:43px;min-height:43px;left:0px;margin-right:0px;background-color:#fff8a8;z-index:4"><a href="https://www.u-cursos.cl/ingenieria/2018/1/EP3203/1/">EP3203-1</a> Cátedra &nbsp; B001 &nbsp; 28/06/2018 &nbsp;18:00 - 20:00</div>
        </div></td>
        <td class="dia " style="">
            <div id="dia_5" style="height: 308px; position:relative">
            <div class="bloque Auxiliar c247259 " style="top:143px;height:32px;min-height:32px;left:0px;margin-right:0px;background-color:#84e2f0;z-index:2"><a href="https://www.u-cursos.cl/ingenieria/2018/1/CC4101/1/">CC4101-1</a> Auxiliar &nbsp; B203 &nbsp; 29/06/2018 &nbsp;14:30 - 16:00</div>
        </div></td>
        <td class="dia " style="">
            <div id="dia_6" style="height: 308px; position:relative">
        </div></td>
    </tr>
    </tbody>
    <col class="col0 first"><col class="col1"><col class="col2"><col class="col3"><col class="col4"><col class="col5"><col class="col6 last"></table></div>
    </div>
    
    <script>
    function hide2( o ) {
        if( o.tipo == undefined ) o.tipo = true;
        if( o.curso == undefined ) o.curso = true;
        o.style.visibility = o.tipo && o.curso ? 'visible' : 'hidden';
    }
    function hide_tipo( o ) { o.tipo = o.tipo != undefined && ! o.tipo; hide2( o ); }
    function hide_curso( o ) { o.curso = o.curso != undefined && ! o.curso; hide2( o ); }
    
    
    function line() {
        var l = $('line');
        var c = $('circle');
        var d = new Date();
        var h = d.getHours();
    
        if( d.getDay() && 8 <= h && h <= 21 ) {
            var p = $('horas');
            var c = $('circle');
            var m = d.getMinutes();
            var t = Math.round( ( ( h - 8 )*60 + m ) * p.getHeight() / ( (21 - 8 + 1 )*60 ) );
    
            if( ! l ) {
                l = new Element( 'div', {
                    'id': 'line',
                    'class': 'reloj',
                } );
                p.insert( { 'bottom': l } );
    
                c = new Element( 'div', {
                    'id': 'circle',
                    'class': 'circle',
                } );
                $('dia_'+d.getDay() ).insert( { 'bottom': c } );
    
            }
    
            l.update( '<span>'+( h < 10 ? '0' : '' )+h+':'+( m < 10 ? '0' : '' )+m+'</span>' );
            l.setStyle( { 'top': t+'px' } );
            c.setStyle( { 'top': t+'px' } );
            l.show();
    
        } else if( l ) {
            l.hide();
        }
    }
    
    Event.onReady( function() {
        line();
        setInterval( line, 1000 );
    } );
    
    </script>
    
    <label><input onclick="$$('div.Auxiliar').each(hide_tipo);" checked="checked" type="checkbox">Auxiliar</label>&nbsp; &nbsp; &nbsp;
    <label><input onclick="$$('div.Ctedra').each(hide_tipo);" checked="checked" type="checkbox">Cátedra</label>&nbsp; &nbsp; &nbsp;
    <label><input onclick="$$('div.Ctedra_Recuperativa').each(hide_tipo);" checked="checked" type="checkbox">Cátedra Recuperativa</label>&nbsp; &nbsp; &nbsp;
    
    </div>
{% endblock %}
