<style>
    table{
        height: auto;
    }
</style>

<table>
    <tr>
        <th></th>
        {% for h in headers %}
        <th>{{h}}</th>
        {% endfor %}
    </tr>
    {% for d in data %}
    <tr class="res-lending">
        <th><input type="checkbox" name='pre-selected' value="{{d.id}}"></th>
        {% for k,v in d.items %}
            {% if k == "start" or k == 'finish'%}
                <td class='{{k}}'>{{ v|date:'Y-m-d H:i' }}</td>
            {% elif k == 'state'%}
                <td hidden class='{{k}}'>{{v}}</td>
            {% else %}
                <td class='{{k}}'>{{v}}</td>
            {% endif %}
        {% endfor %}
        
    </tr>
    {% endfor %}
</table>