<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aplicación de Inventariado del CEI con las opciones de administración y sistema de reservas más completo que se pueda encontrar en la actualidad.">
    <meta name="author" content="SQL Injection">

    <title>Sistema de Inventariado | CEI</title>

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    {# Font Awesome, for icons #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    {% load static  %}

    <link rel="icon" href="{% static "/logo.png" %}">
</head>

<body>
{% block bootstrap4_content %}
    {# HEADER #}
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">
          <img src="{% static "/logo.png" %}" width="30" height="30" alt="Logo del CEI">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="javascript:window.location.reload(true)">
                <span style="font-size: 15px; color: Dodgerblue;">
                  <i class="fas fa-home"></i> Home
                </span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link 2</a>
            </li>
          </ul>

          <!-- Bootstrap 4: Desktop/Mobile display behaviour -->
          <!-- https://stackoverflow.com/a/45842581 -->
          <div class="dropdown d-none d-sm-block">  <!-- Visible only in Desktop view -->
            <button class="btn border-0 btn-outline-secondary btn-sm dropdown-toggle" type="button" id="userDropdownMenuDesktop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <a class="" style="text-decoration: none;" href="#">
                <span style="font-size: 25px; color: Dodgerblue;">
                  <i class="fas fa-user-ninja img-thumbnail rounded-circle"></i>
                </span>
              </a>
              Morfeo
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMenuDesktop">
              <a class="dropdown-item" href="#">Perfil</a>
              <a class="dropdown-item" href="#">Reservas</a>
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </div>

          <div class="drop d-block d-sm-none"> <!-- Visible only in Mobile view -->
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle border-0" type="button" id="userDropdownMenuMobile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <a class="" style="text-decoration: none;" href="#">
                <span style="font-size: 25px; color: Dodgerblue;">
                  <i class="fas fa-user-ninja img-thumbnail rounded-circle"></i>
                </span>
              </a>
              Morfeo
            </button>
            <div class="dropdown-menu" aria-labelledby="userDropdownMenuMobile">
              <a class="dropdown-item" href="#">Perfil</a>
              <a class="dropdown-item" href="#">Reservas</a>
              <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <br><br>

    {# BODY #}
    <main role="main">
        {% block content %} {# this content is replaced #}{% endblock %}
    </main>
    {# TODO: FOOTER #}
</body>
</html>
{% endblock %}