{% extends "base2.html" %}

{% block content %}
    <section class="jumbotron text-center">
        <div class="container">
            <h2 class="jumbotron-heading">Lista de Objetos</h2>
        </div>
    </section>

    <div class="container">
        <div class="row">
            {% for obj in objects %}
                <div class="col-md-3">
                    <div class="card mb-3 box-shadow">
                        <img class="card-img-top" src="{{ obj.image.url|slice:"14:" }}" alt="Imagen de {{ obj.name }}" style="height: 13rem;">
                        <!-- <img class="card-img-top" src="{{ obj.image.url|slice:"14:" }}" width="150" height="200" alt="Imagen de {{ obj.name }}"> -->
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ obj.name }}</h4>
                        </div>
                        {% if  obj.condition == 'd'%}
                            <div class="card-footer text-white bg-success">
                                <h7>Disponible</h7>
                                {# <p>Disponible  <span><button class="btn btn-primary btn-sm" type="submit">Reservar</button></span></p> #}
                                {# <p>Disponible  <span><a class="btn btn-primary btn-sm" href="#" role="button">Reservar</a></span></p> #}
                            </div>
                        {% elif  obj.condition == 'p'%}
                            <div class="card-footer text-white bg-info"><h7>En Préstamo</h7></div>
                        {% elif  obj.condition == 'r'%}
                            <div class="card-footer text-white bg-warning"><h7>En Reparación</h7></div>
                        {% elif  obj.condition == 'l'%}
                            <div class="card-footer text-white bg-danger"><h7>Perdido</h7></div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div>
        <h2>Lista de Espacios</h2>
        <div class="card-deck">
            {% for sp in spaces %}
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        {# <p class="card-text">This is a wider card with supporting text.</p> #}
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}