{% extends "base.html" %}

{% block content %}
    <section class="jumbotron text-center" style="padding-top: 40px; padding-bottom: 10px;">
        <div class="container">
            <h2 class="jumbotron-heading">Lista de Elementos</h2>
            <p>
                <a href="/objetos" class="btn {{ objects_style }} my-2">Objetos</a>
                <a href="/espacios" class="btn {{ spaces_style }} my-2">Espacios</a>
            </p>
        </div>
    </section>

    <div class="container">
        <div class=" card-group row">
            {% for i in items %}
                <div class="col-md-3">
                    <div class="card mb-3 box-shadow">
                        <img class="card-img-top" src="{{ i.image.url|slice:"14:" }}" alt="Imagen de {{ i.name }}" style="height: 13rem;">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ i.name }}</h4>
                        </div>
                        {% if  i.condition == 'd'%}
                            <div class="card-footer text-white bg-success"><h7>Disponible</h7></div>
                        {% elif  i.condition == 'p'%}
                            <div class="card-footer text-white bg-info"><h7>En Préstamo</h7></div>
                        {% elif  i.condition == 'r'%}
                            <div class="card-footer text-white bg-warning"><h7>En Reparación</h7></div>
                        {% elif  i.condition == 'l'%}
                            <div class="card-footer text-white bg-danger"><h7>Perdido</h7></div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function(){
            var max_height = 0;
            var current_height;

            $('.card-body').each(function (e) {
                current_height = parseInt($(this).css('height'), 10);
                if (current_height > max_height) max_height = current_height;
            });

            $('.card-body').each(function (e) {
                $(this).css('height', max_height);
            });
        });
    </script>
{% endblock %}